/**
 * Defaults.
 */

*, 
*::before, 
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

img,
picture {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

button > * {
	pointer-events: none;
}